{% extends 'base.html' %}

{% block body %}
<style>
    body {
        background: black;
    }

    #nav{
        background: lightyellow;
        color: ;
    }
</style>

<div id="info">
    <h1 id="title_page">About</h1>
    OPaul Studios Develops Machine Learning to make processes <br>
    and decisions easier and faster
    Math Performance <br>
    Predictor uses Machine Learning techniques to predict <br>
    what the score of a student will be in a Mathematics Test.
</div>
{% endblock %}